@blue: #00BEEC;
@orange: #F3B939;
@pink: #FF4C65;

@main-color: #cececa;
@secondary-color:#F3B939;
@tertiary-color: #00BEEC;

@background-color: #90D4F7;
@jumbotron-background: white;

html, body {
  height: 95%;
  background-color: @background-color;
}

.navbar {
  //background-color: @secondary-color;

}

#navbar-title {
  font-size: 30px;
  color: white;
}

#signin-form {
  padding: 150px;
  background-color: rgb(238, 238, 238);
}

.form-control {
  margin-bottom: 10px;
}

#sensor-list {
  margin-left: 30px;
  font-size: 20px;
}

#jumbotron-about {
  min-height: 10%;
  margin: 10% 20% 1% 20%;
}

#jumbotron-home {
  padding: 0;
  margin: 5% 20% 5% 20%;
  width: auto;
  min-height: 70%;
  border: 1px dashed blue;
  background-color: @jumbotron-background;
}

.legend {
  //border-left: 1px dashed blue;
}

.barsvg {
  padding: 5px;
  margin: 5px;
}

.barsContainer {

}

.bars {
  padding: 5px;
  margin: 5px;
}

#legend {
  width: 100px;
  height: 200px;
}