html, body {
  height: 98%;
}



#navbar-title {
  font-size: 30px;
  color: white;
}

#signin-form {
  padding: 150px;
  background-color: rgb(238, 238, 238);
}

.form-control {
  margin-bottom: 10px;
}

#sensor-list {
  margin-left: 30px;
  font-size: 20px;
}

#jumbotron {
  min-height: 100%;
}